In [1]:
import pandas as pd
import numpy as np

## 압구정 슈프림

In [10]:
apg_sup = pd.read_excel('fitzroy.xlsx', usecols = 'A:S')
# apg_pal = pd.read_excel('fitzroy.xlsx', sheet_name = 1)
# apg_acc = pd.read_excel('fitzroy.xlsx', sheet_name = 2)
# hyundai =  pd.read_excel('fitzroy.xlsx', sheet_name = 3)

In [11]:
apg_sup.head()

,품명,이름,색상,S,M,L,XL,20.08.22 사이즈 재고,판매날짜&사이즈,S .1,M.1,L.1,XL.1,Unnamed: 13,S .2,M.2,L.2,XL.2,현재 재고
0,긴팔,고스트 라이더 해골 쭉티,블랙,NaN,2.0,0.0,2.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,2.0,0.0,2.0,4.0
1,긴팔,고스트 라이더 해골 쭉티,화이트,NaN,0.0,1.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1.0,1.0,2.0
2,긴팔,플래그스 롱슬리브즈,레드 줄무늬,NaN,1.0,1.0,0.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,1.0,0.0,2.0
3,긴팔,플래그스 롱슬리브즈,흰 줄무늬,NaN,1.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,0.0,0.0,1.0
4,반바지,에스로고 반바지,블랙,NaN,0.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1.0,2.0,0.0

In [29]:
apg_sup.columns

Index(['품명', '이름', '색상', ' S ', 'M', 'L', 'XL', '20.08.22 사이즈 재고', '판매날짜&사이즈',
       ' S .1', 'M.1', 'L.1', 'XL.1', 'Unnamed: 13', ' S .2', 'M.2', 'L.2',
       'XL.2', '현재 재고'],
      dtype='object')

In [50]:
# keep unique row records 
sheet1 = apg_sup.loc[:'146',['품명', '이름', '색상',' S .2',
                  'M.2', 'L.2', 'XL.2', '현재 재고']]
sheet1 = sheet1.drop_duplicates(subset=['품명', '이름', '색상'])

In [55]:
sheet1.head()

    품명             이름      색상   S .2  M.2  L.2  XL.2  현재 재고
0   긴팔  고스트 라이더 해골 쭉티      블랙    0.0  2.0  0.0   2.0    4.0
1   긴팔  고스트 라이더 해골 쭉티     화이트    0.0  0.0  1.0   1.0    2.0
2   긴팔     플래그스 롱슬리브즈  레드 줄무늬    0.0  1.0  1.0   0.0    2.0
3   긴팔     플래그스 롱슬리브즈   흰 줄무늬    0.0  1.0  0.0   0.0    1.0
4  반바지       에스로고 반바지      블랙    0.0  0.0  1.0   2.0    0.0

In [59]:
sheet1 = sheet1.rename(columns={" S .2": "S", 'M.2':'M', 
                                'L.2':'L', 'XL.2':'XL'})
sheet1.head()

    품명             이름      색상    S    M    L   XL  현재 재고
0   긴팔  고스트 라이더 해골 쭉티      블랙  0.0  2.0  0.0  2.0    4.0
1   긴팔  고스트 라이더 해골 쭉티     화이트  0.0  0.0  1.0  1.0    2.0
2   긴팔     플래그스 롱슬리브즈  레드 줄무늬  0.0  1.0  1.0  0.0    2.0
3   긴팔     플래그스 롱슬리브즈   흰 줄무늬  0.0  1.0  0.0  0.0    1.0
4  반바지       에스로고 반바지      블랙  0.0  0.0  1.0  2.0    0.0

In [69]:
# melt

sheet1_melted = sheet1.melt(id_vars = ('품명','이름','색상', '현재 재고'), 
                            var_name = '사이즈', value_name = '재고')

In [79]:
sheet2 = apg_sup.loc[158:,['품명', '이름', '색상', ' S ', 'M', 
                           'L', 'XL', '20.08.22 사이즈 재고',
                           ' S .1', 'M.1', 'L.1', 'XL.1', 'Unnamed: 13']]
sheet2 = sheet2.drop_duplicates(subset=['품명', '이름', '색상'])

In [102]:
# sheet2 = sheet2.rename(columns={' S ': "S", 
#                                 '20.08.22 사이즈 재고':"현재 재고"})
# sheet2.head()

# sheet2 = sheet2.fillna(0)
 
sheet2 = sheet2.assign(
    S = lambda x: x[' S '] - x[' S .1']
).assign(
    M = lambda x: x['M'] - x['M.1']
).assign(
    L = lambda x: x['L'] - x['L.1']
).assign(
    XL = lambda x: x['XL'] - x['XL.1']
)

In [104]:
sheet2 = sheet2[['품명','이름','색상','S','M','L','XL', 'Unnamed: 13']]
sheet2.head()

      품명             이름   색상    S    M    L   XL  Unnamed: 13
158   후드     슈프림 나이키 후드   레드  0.0  0.0  0.0  0.0          0.0
159   반팔      슈프림 부주 반톤  화이트  0.0  0.0  0.0  0.0          0.0
160  크루넥        라디얼 크루넥  네츄럴  0.0  0.0  0.0  0.0          0.0
161   반팔           핏불 티   블랙  0.0  0.0  0.0  0.0          0.0
162   자켓  클래식 로고 테이핑 자켓   블랙  0.0  0.0  0.0  0.0          0.0

In [106]:
sheet2 = sheet2.rename(columns={'Unnamed: 13': "현재 재고"})

In [107]:
# melt

sheet2_melted = sheet2.melt(id_vars = ('품명','이름','색상', '현재 재고'), 
                            var_name = '사이즈', value_name = '재고')

In [109]:
# save
# sheet1.to_excel("sup_apg.xlsx", sheet_name = "sheet1")

with pd.ExcelWriter('fitzroy_new.xlsx') as writer:  
    sheet1_melted.to_excel(writer, sheet_name='Sheet1')
    sheet2_melted.to_excel(writer, sheet_name='Sheet2')

## 압구정 슈프림 매출

In [81]:
sup_sales = pd.read_excel('fitzroy.xlsx', usecols = 'A:C,I:M')

In [82]:
sup_sales.head()

    품명             이름      색상 판매날짜&사이즈   S .1  M.1  L.1  XL.1
0   긴팔  고스트 라이더 해골 쭉티      블랙      NaN    NaN  NaN  NaN   NaN
1   긴팔  고스트 라이더 해골 쭉티     화이트      NaN    NaN  NaN  NaN   NaN
2   긴팔     플래그스 롱슬리브즈  레드 줄무늬      NaN    NaN  NaN  NaN   NaN
3   긴팔     플래그스 롱슬리브즈   흰 줄무늬      NaN    NaN  NaN  NaN   NaN
4  반바지       에스로고 반바지      블랙      NaN    NaN  NaN  NaN   NaN

In [83]:
sup_sales = sup_sales.fillna(0)

In [84]:
sup_sales_split = sup_sales['판매날짜&사이즈'].str.split(",").apply(pd.Series)
sup_sales_split.index = sup_sales.set_index(['품명','이름','색상']).index
sup_sales_split = sup_sales_split.stack().reset_index(['품명','이름','색상'])
sup_sales_split.columns = sup_sales_split.columns.map(str)
sup_sales_split = sup_sales_split.reset_index()
sup_sales_split = sup_sales_split.rename(columns={"0":"판매"})

In [85]:
sup_sales_split['날짜'], sup_sales_split['사이즈'] = sup_sales_split['판매'].str.split('(', 1).str

<ipython-input-85-6598088ec30c>:1: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  sup_sales_split['날짜'], sup_sales_split['사이즈'] = sup_sales_split['판매'].str.split('(', 1).str

In [86]:
sup_sales_split['사이즈'] = sup_sales_split['사이즈'].str.rstrip(')')

In [87]:
sup_sales_split

     index   품명             이름   색상          판매       날짜 사이즈
0        0   반팔  슈프림 클라우드 구름 티  화이트  200822(XL)   200822  XL
1        0   반팔        헤븐 엔 얼스   흰색  200823(XL)   200823  XL
2        0   반팔          바이트 티   검정  200823(XL)   200823  XL
3        0   반팔        머니 파워 티  화이트   200823(M)   200823   M
4        0   자켓      패널드 트랙 자켓   블랙   200823(M)   200823   M
..     ...  ...            ...  ...         ...      ...  ..
210      5  긴바지     코튼 친치 트랙팬츠   블랙   200528(S)   200528   S
211      6  긴바지     코튼 친치 트랙팬츠   블랙   200530(S)   200530   S
212      7  긴바지     코튼 친치 트랙팬츠   블랙   200604(S)   200604   S
213      8  긴바지     코튼 친치 트랙팬츠   블랙   200606(S)   200606   S
214      9  긴바지     코튼 친치 트랙팬츠   블랙   200820(M)   200820   M

[215 rows x 7 columns]

In [91]:
with pd.ExcelWriter('fitzroy_new.xlsx', mode='a') as writer:  
    sup_sales_split.to_excel(writer, sheet_name='압구정매출')

## 압구정 팰리스

In [19]:
apg_pal = pd.read_excel('fitzroy.xlsx', usecols = 'B:H,J:M,O:R,T:Y',
                        sheet_name = 1)

In [20]:
apg_pal.head()

,품목,이름,색상,M,L,XL,20.08.22 사이즈 재고,M.1,L.1,XL.1,...,M.2,L.2,XL.2,현재 총 재고,S,M.3,L.3,XL.3,2XL,백화점 재고
0,후드,싼스,그레이,2.0,1.0,0.0,3.0,NaN,NaN,NaN,...,2.0,1.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
1,후드,제니,블랙,0.0,0.0,2.0,2.0,NaN,NaN,NaN,...,0.0,0.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0
2,후드,문어 옥토 티,블랙,0.0,3.0,5.0,8.0,NaN,NaN,NaN,...,0.0,3.0,5.0,8.0,0.0,0.0,1.0,1.0,0.0,2.0
3,후드,문어 옥토 티,회색,0.0,0.0,3.0,3.0,NaN,NaN,NaN,...,0.0,0.0,3.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
4,반팔,트라이플렉트,그레이,2.0,0.0,0.0,2.0,NaN,NaN,NaN,...,2.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0

In [21]:
apg_pal = apg_pal.fillna(0)
apg_pal.columns

Index(['품목', '이름', '색상', 'M', 'L', 'XL', '20.08.22 사이즈 재고', 'M.1', 'L.1',
       'XL.1', '현재 재고', 'M.2', 'L.2', 'XL.2', '현재 총 재고', 'S', 'M.3', 'L.3',
       'XL.3', '2XL', '백화점 재고'],
      dtype='object')

In [29]:
# keep unique row records 
sheet3 = apg_pal.loc[:'25',['품목', '이름', '색상',
                             'M.2', 'L.2', 'XL.2', '현재 총 재고',]]
sheet3 = sheet3.drop_duplicates(subset=['품목', '이름', '색상'])
sheet3 = sheet3.rename(columns = {'M.2':'M', 'L.2':'L', 'XL.2':'XL'})

In [24]:
sheet4 = apg_pal.loc['35':,['품목', '이름', '색상',
                            'M', 'L', 'XL', '20.08.22 사이즈 재고',
                            'M.1', 'L.1', 'XL.1', '현재 재고']]
sheet4 = sheet4.drop_duplicates(subset=['품목', '이름', '색상'])

sheet4 = sheet4.assign(
    M = lambda x: x['M'] - x['M.1'],
    L = lambda x: x['L'] - x['L.1'],
    XL = lambda x: x['XL'] - x['XL.1'],
)

sheet4 = sheet4[['품목', '이름', '색상', 'M', 'L', 'XL', '현재 재고']]

In [30]:
sheet4

     품목           이름   색상    M    L   XL  현재 재고
35   후드           써킷   블랙  0.0  0.0  0.0    0.0
36  티셔츠        p3 롤스   블랙  0.0  0.0  0.0    0.0
37   반팔           빌더   블랙  0.0  0.0  0.0    0.0
38   후드           지즈   블랙  0.0  0.0  0.0    0.0
39   후드          P3D   블랙  0.0  0.0  0.0    0.0
40   자켓     호랑이 코치자켓   블랙  0.0  0.0  0.0    0.0
41  크루넥      스플릿 p3d  네이비  0.0  0.0  0.0    0.0
42   후드          세이프   블랙  0.0  0.0  0.0    0.0
43  티셔츠  ripped out    흰색  0.0  0.0  0.0    0.0
44  크루넥      스플릿 p3d   회색  0.0  0.0  0.0    0.0
45   반팔          리버소   레드  0.0  0.0  0.0    0.0
46   반팔         스마일러   블랙  0.0  0.0  0.0    0.0
47   후드           싼스   블랙  0.0  0.0  0.0    0.0
48   반팔           빌더  화이트  0.0  0.0  0.0    0.0
49  티셔츠     유 피규어 아웃  화이트  0.0  0.0  0.0    0.0
50   반팔         트라이폰   블랙  0.0  4.0  1.0    5.0
51   반팔        트라이게인   블랙  0.0  0.0  0.0    0.0

In [31]:
# melt

sheet3_melted = sheet3.melt(id_vars = ('품목','이름','색상', '현재 총 재고'), 
                            var_name = '사이즈', value_name = '재고')
sheet4_melted = sheet4.melt(id_vars = ('품목','이름','색상', '현재 재고'), 
                            var_name = '사이즈', value_name = '재고')

In [33]:
sheet4_melted

     품목           이름   색상  현재 재고 사이즈   재고
0    후드           써킷   블랙    0.0   M  0.0
1   티셔츠        p3 롤스   블랙    0.0   M  0.0
2    반팔           빌더   블랙    0.0   M  0.0
3    후드           지즈   블랙    0.0   M  0.0
4    후드          P3D   블랙    0.0   M  0.0
5    자켓     호랑이 코치자켓   블랙    0.0   M  0.0
6   크루넥      스플릿 p3d  네이비    0.0   M  0.0
7    후드          세이프   블랙    0.0   M  0.0
8   티셔츠  ripped out    흰색    0.0   M  0.0
9   크루넥      스플릿 p3d   회색    0.0   M  0.0
10   반팔          리버소   레드    0.0   M  0.0
11   반팔         스마일러   블랙    0.0   M  0.0
12   후드           싼스   블랙    0.0   M  0.0
13   반팔           빌더  화이트    0.0   M  0.0
14  티셔츠     유 피규어 아웃  화이트    0.0   M  0.0
15   반팔         트라이폰   블랙    5.0   M  0.0
16   반팔        트라이게인   블랙    0.0   M  0.0
17   후드           써킷   블랙    0.0   L  0.0
18  티셔츠        p3 롤스   블랙    0.0   L  0.0
19   반팔           빌더   블랙    0.0   L  0.0
20   후드           지즈   블랙    0.0   L  0.0
21   후드          P3D   블랙    0.0   L  0.0
22   자켓     호랑이 코치자켓   블랙    0.0   L  0.0
23  크루넥      스플릿 p3d  네이비    0.0   L  0.0
24   후드          세이프   블랙    0.0   L  0.0
25  티셔츠  ripped out    흰색    0.0   L  0.0
26  크루넥      스플릿 p3d   회색    0.0   L  0.0
27   반팔          리버소   레드    0.0   L  0.0
28   반팔         스마일러   블랙    0.0   L  0.0
29   후드           싼스   블랙    0.0   L  0.0
30   반팔           빌더  화이트    0.0   L  0.0
31  티셔츠     유 피규어 아웃  화이트    0.0   L  0.0
32   반팔         트라이폰   블랙    5.0   L  4.0
33   반팔        트라이게인   블랙    0.0   L  0.0
34   후드           써킷   블랙    0.0  XL  0.0
35  티셔츠        p3 롤스   블랙    0.0  XL  0.0
36   반팔           빌더   블랙    0.0  XL  0.0
37   후드           지즈   블랙    0.0  XL  0.0
38   후드          P3D   블랙    0.0  XL  0.0
39   자켓     호랑이 코치자켓   블랙    0.0  XL  0.0
40  크루넥      스플릿 p3d  네이비    0.0  XL  0.0
41   후드          세이프   블랙    0.0  XL  0.0
42  티셔츠  ripped out    흰색    0.0  XL  0.0
43  크루넥      스플릿 p3d   회색    0.0  XL  0.0
44   반팔          리버소   레드    0.0  XL  0.0
45   반팔         스마일러   블랙    0.0  XL  0.0
46   후드           싼스   블랙    0.0  XL  0.0
47   반팔           빌더  화이트    0.0  XL  0.0
48  티셔츠     유 피규어 아웃  화이트    0.0  XL  0.0
49   반팔         트라이폰   블랙    5.0  XL  1.0
50   반팔        트라이게인   블랙    0.0  XL  0.0

In [34]:
# save
# sheet1.to_excel("sup_apg.xlsx", sheet_name = "sheet1")

with pd.ExcelWriter('fitzroy_new.xlsx') as writer:  
    sheet3_melted.to_excel(writer, sheet_name='Sheet3')
    sheet4_melted.to_excel(writer, sheet_name='Sheet4')

## 압구정 팰리스 매출

In [92]:
pal_sales = pd.read_excel('fitzroy.xlsx', usecols = 'A:D,I:L',
                        sheet_name = 1)

In [93]:
pal_sales.head()

   브랜드  품목       이름   색상 판매날짜&사이즈  M.1  L.1  XL.1
0  팔라스  후드       싼스  그레이      NaN  NaN  NaN   NaN
1  팔라스  후드       제니   블랙      NaN  NaN  NaN   NaN
2  팔라스  후드  문어 옥토 티   블랙      NaN  NaN  NaN   NaN
3  팔라스  후드  문어 옥토 티   회색      NaN  NaN  NaN   NaN
4  팔라스  반팔   트라이플렉트  그레이      NaN  NaN  NaN   NaN

In [94]:
pal_sales_split = pal_sales['판매날짜&사이즈'].str.split(",").apply(pd.Series)
pal_sales_split.index = pal_sales.set_index(['품목','이름','색상']).index
pal_sales_split = pal_sales_split.stack().reset_index(['품목','이름','색상'])
pal_sales_split.columns = pal_sales_split.columns.map(str)
pal_sales_split = pal_sales_split.reset_index()
pal_sales_split = pal_sales_split.rename(columns={"0":"판매"})

In [95]:
pal_sales_split['날짜'], pal_sales_split['사이즈'] = pal_sales_split['판매'].str.split('(', 1).str
pal_sales_split['사이즈'] = pal_sales_split['사이즈'].str.rstrip(')')

<ipython-input-95-032723ff8b34>:1: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  pal_sales_split['날짜'], pal_sales_split['사이즈'] = pal_sales_split['판매'].str.split('(', 1).str

In [96]:
pal_sales_split

    index  품목      이름   색상           판매       날짜 사이즈
0       0  반팔    스마일러  화이트    200823(L)   200823   L
1       0  반팔     뱀 티   흰색    200823(L)   200823   L
2       0  반팔  트라이 텍스   흰색   200823(XL)   200823  XL
3       0  후드      써킷   블랙    200119(L)   200119   L
4       1  후드      써킷   블랙   200131(XL)   200131  XL
..    ...  ..     ...  ...          ...      ...  ..
58      4  반팔   트라이게인   블랙   200503(XL)   200503  XL
59      5  반팔   트라이게인   블랙    200507(L)   200507   L
60      6  반팔   트라이게인   블랙    200512(L)   200512   L
61      7  반팔   트라이게인   블랙    200525(L)   200525   L
62      8  반팔   트라이게인   블랙    200730(L)   200730   L

[63 rows x 7 columns]

In [97]:
with pd.ExcelWriter('fitzroy_new.xlsx', mode='a') as writer:  
    pal_sales_split.to_excel(writer, sheet_name='팰리스매출')

## 악세사리

In [121]:
acc = pd.read_excel("fitzroy.xlsx" ,sheet_name = 2)

In [122]:
acc.columns

Index(['브랜드', '품목', '이름', '색상', '20.08.22 재고', '판매날짜&사이즈', '팔림', '현재 재고'], dtype='object')

In [123]:
acc_inv = acc[['브랜드', '품목', '이름', '색상', '현재 재고']]
acc_sales = acc[['브랜드', '품목', '이름', '색상', '판매날짜&사이즈']]

In [124]:
acc_sales_split = acc_sales['판매날짜&사이즈'].str.split(",").apply(pd.Series)
acc_sales_split.index = acc_sales.set_index(['브랜드','품목','이름','색상']).index
acc_sales_split = acc_sales_split.stack().reset_index(['브랜드','품목','이름','색상'])
acc_sales_split.columns = acc_sales_split.columns.map(str)
acc_sales_split = acc_sales_split.reset_index()
acc_sales_split = acc_sales_split.rename(columns={"0":"판매"})

In [125]:
with pd.ExcelWriter('fitzroy_new.xlsx', mode='a') as writer:
    acc_inv.to_excel(writer, sheet_name='압구정악세사리')
    acc_sales_split.to_excel(writer, sheet_name='압구정악세매출')

## 현대백화점

In [155]:
hyn_sup = pd.read_excel("fitzroy.xlsx", sheet_name=3)
hyn_pal = pd.read_excel("fitzroy.xlsx",
                        sheet_name=1,
                        usecols = 'A:D, T:Y')

In [156]:
hyn_pal = hyn_pal[:26]

In [157]:
hyn_sup = hyn_sup.fillna(0)
hyn_pal = hyn_pal.fillna(0)

In [158]:
hyn_sup.columns

Index(['품명', '이름', '색상', ' S ', 'M', 'L', 'XL', '백화점 재고', '판매날짜&사이즈', ' S .1',
       'M.1', 'L.1', 'XL.1', '현재 재고'],
      dtype='object')

In [159]:
hyn_sup = hyn_sup[['품명', '이름', '색상', ' S ', 'M', 'L', 'XL', '백화점 재고']]

In [160]:
hyn_pal.columns

Index(['브랜드', '품목', '이름', '색상', 'S', 'M.3', 'L.3', 'XL.3', '2XL', '백화점 재고'], dtype='object')

In [161]:
# melt

hyn_sup_melted = hyn_sup.melt(id_vars = ('품명', '이름', '색상', '백화점 재고'), 
                            var_name = '사이즈', value_name = '재고')
hyn_pal_melted = hyn_pal.melt(id_vars = ('브랜드', '품목', '이름', '색상', '백화점 재고'), 
                            var_name = '사이즈', value_name = '재고')

In [163]:
hyn_sup_melted

      품명             이름      색상  백화점 재고  사이즈   재고
0     긴팔  고스트 라이더 해골 쭉티      블랙       2   S   0.0
1     긴팔  고스트 라이더 해골 쭉티     화이트       2   S   0.0
2     긴팔     플래그스 롱슬리브즈  레드 줄무늬       2   S   0.0
3     긴팔     플래그스 롱슬리브즈   흰 줄무늬       0   S   0.0
4    반바지       에스로고 반바지      블랙       0   S   0.0
..   ...            ...     ...     ...  ...  ...
675   바지      나일론 워터 쇼츠      골드       0   XL  0.0
676   바지      나일론 워터 쇼츠      퍼플       0   XL  0.0
677   반팔          도미니 티      블랙       0   XL  0.0
678   반팔          도미니 티     화이트       8   XL  3.0
679   반팔           핏불 티     화이트       0   XL  0.0

[680 rows x 6 columns]

In [164]:
with pd.ExcelWriter('fitzroy_new.xlsx', mode='a') as writer:
    hyn_sup_melted.to_excel(writer, sheet_name='현대슈프림')
    hyn_pal_melted.to_excel(writer, sheet_name='현대팰리스')